* {
  margin: 0;
  padding: 0;
}

.orderlist {
  width: 1000px;
  padding: 20px
}

.title {
  border-bottom: 2px solid #ccc;
  line-height: 2;
  margin-bottom: 40px;
}

.left {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  text-align: right;
  padding-right: 5px;
  border-right: 1px solid #000;
}

li {
  list-style: none;
}

.right {
  display: flex;
  height: 200px;
  align-items: flex-end;
  border-bottom: 1px solid #000;
}

.rli {
  margin: 0 20px;
  width: 40px;
  background-color: #666;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.num {
  position: absolute;
  width: 40px;
  top: -24px;
  text-align: center;
}